@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter";
    background-color: hsl(0, 0%, 8%);
    
}

.contenedor {
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    margin: 30px auto;
    width: 375px;
    font-family: "Inter";
    text-align: center;
    border-radius: 3%;
}

img {
    border-radius: 50% ;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

.par-1 {
    color: hsl(75, 94%, 57%);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    
}

.par-2 {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 15px;
    
}

.btn {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    font-weight: 500;
    border: 1px;
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px;
    margin-top: 16px;
}